.container{
  padding-left: 0px;
  padding-right: 0px;
  position: relative;
  min-height: 100vh;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.darkgr {
  background-color: #ADB049; 
}

.lightgr {
  color: #C9D8A1;
}

.redc {
  background-color: #CE3635;
}

.grayc {
  background-color: #E1E0E6;
}

.footerwrap{
  background-color: #2D603F;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


h1, h2{
  font-family: "MerryChristmasFlake";
}

p{
  font-family: "ChristmasDream";
  font-size: 20px;

}


@font-face {
  font-family: 'MerryChristmasFlake';
    src: url('font1/MerryChristmasFlake.eot'); /* IE9 Compat Modes */ 
    src: url('font1/MerryChristmasFlake.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('font1/MerryChristmasFlake.woff2') format('woff2'), /* Super Modern Browsers */
        url('font1/MerryChristmasFlake.woff') format('woff'), /* Pretty Modern Browsers */
        url('font1/MerryChristmasFlake.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('font1/MerryChristmasFlake.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: 'ChristmasDream';
    src: url('font2/ChristmasDreamRegular.eot'); /* IE9 Compat Modes */ 
    src: url('font2/ChristmasDreamRegular.eot') format('embedded-opentype'), /* IE6-IE8 */
        url('font2/ChristmasDreamRegular.woff2') format('woff2'), /* Super Modern Browsers */
        url('font2/ChristmasDreamRegular.woff') format('woff'), /* Pretty Modern Browsers */
        url('font2/ChristmasDream.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: 400;
    font-style: normal;
}




